/* ClientHomePage.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .heading {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    margin: 0 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button-content {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  